@import url(https://fonts.bunny.net/css?family=lato:300,700,900);

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #e45d87;
  background: url("/bg_bggenerator_com.jpg");
  background-size: cover;
  color: black;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  width: auto;
  max-width: 900px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.text {
  font-size: 2.75rem;
  /*rem for font-size because it helps with responsive design*/
  /*relative size compared to the root element (html el)*/
}

.long-quote {
  /*using JS to dynamically turn this class on and off when needed*/
  font-size: 2rem;
}

.fa-quote-left {
  font-size: 4rem;
}

.author {
  font-family: "Lato", sans-serif;
  margin-top: 15px;
  font-size: 1.5rem;
  font-weight: 400;
  color: #392218;
}

.btn-container {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
  font-size: 1.2rem;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: black;
  outline: none;
  padding: 0.5rem 1.8rem;
  box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
}

button:hover {
  /*makes the button a little bit lighter when we hover over it*/
  filter: brightness(110%);
}

button:active {
  /*makes it look like we are pressing down the button*/
  transform: translate(
    0,
    0.3rem
  ); /*pressing the button into the page by 0.3rem*/
  box-shadow: 0 0.1 rgba(255, 255, 255, 0.65); /*less box-shadow for the effect*/
}

.twitter-btn {
  color: #e45d87;
}

#new-quote {
  color: #fdc4ba;
}

.fa-twitter {
  font-size: 1.5;
}

/*LOADER*/
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #333;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*MEDIA QUERIES always at the bottom bc we want them to be able to overwrite anything else throughout the code*/

@media screen and (max-width: 1000px) {
  /*
  FOR MOBILE RESPONSIVE DESIGN
  @media to start a media query
  screen to show that we want it on screens
  max-witdh => only on devices that have less than 1000px of width => tablets and phones
  */
  .container {
    margin: auto 20px;
  }
  .text {
    font-size: 2.5rem;
  }
}
